
.headerBox{
    height: 25vh;
    width: 95vw;
    border: 5px solid black;
    margin: 5px;
}
.purpleBox{
    height: 100px;
    width: 50px;
    background: mediumslateblue;
    margin: 10px;
    display: inline-block;
}
.greenBox{
    height: 18vh;
    width: 20vw;
    background: green;
    margin: 0 auto;
    display: inline-block;
    margin: 10px;
}
.blueCircle{
    height: 18vh;
    width: 10vw;
    background: lightblue;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}
.bodyBox{
    height: 35vh;
    width: 95vw;
    border: 5px dotted gray;
    margin: 10px
}
.innerBox{
    height: 75%;
    width: 90%;
    box-shadow: 10px 10px 10px #404040;
    background: lemonchiffon;
    margin: auto;
    margin-top: 25px;
}
.bottomBox{
    height: 35vh;
    width: 45%;
    background: whitesmoke;
    box-shadow: 5px 5px 5px slategray;
    margin: auto;
}
h1{
    color: blue;
    font-size: 3.0em;
    text-align: center;
    padding: 140px 0;
    font-family: 'Slabo 27px', serif;
}