body{
    margin: -10px;
}
.firstContainer{
    height: 10vh;
    width: 100vw;
    background: lightgrey;
    margin: 0;
    padding:5px;
}
.blueBox{
    height: 50px;
    width: 50px;
    background: steelblue;
    margin-top: 25px;
    margin-left: 15px;
}
.secondContainer{
    height: 20vh;
    width:100vw;
    background: white;
}
h1{
    text-align: left;
    font-size: 1.0em;
    padding: 70px 40px;
}
.thirdBlue{
    height:10vh;
    width: 100vw;
    background: steelblue;
    padding: 5px;
}
.fourthCyan{
    height:10vh;
    width: 100vw;
    background:cyan;
    padding: 5px;
}
.fifthGreen{
    height:10vh;
    width:100vw;
    background: greenyellow;
    padding: 5px;
}
.sixthYellow{
    height:10vh;
    width:100vw;
    background:yellow;
    padding: 5px;
}